.container {
    background: white;
    margin: 20px;
    min-height: 2000px;
    display: flex;
    /* flex-direction: column; */
}

.options-menue {
    background: #69a7bb;
    width: 20%;
    height: 100%;
}

.options-menue ul {
    margin: 0;
    padding: 0;
}

.options-menue li {
    text-align: center;
    padding: 20px;
}

.options-menue li:hover {
    background: #bdd3db;
}

.options-menue li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: .9rem;
    padding: 20px 0;
    width: 100%;
}

.options-menue li:hover * {
    color: #69a7bb;
}

li:has( > a.active) {
    background: white;
}

li:has( > a.active) * {
    color: #69a7bb !important;
    text-decoration: underline !important;
    font-weight: 500 !important;
    font-size: x-large !important;
}

.options-content {
    width: 80%;
}

.option-form {
    margin: 10px;
}

.form-row {
    margin: 20px 0;
}

.form-row label {
    display: inline-block;
    width: 200px;
}

.form-row input[type="text"],
.form-row input[type="number"],
.form-row select,
.form-row textarea {
    width: 300px;
}

fieldset {
    border: 2px solid #ababab;
    margin: 10px;
    padding: 10px;
}